[flake8]
extend-exclude = venv*,*lib,*test

max-line-length = 160
max-doc-length = 160
indent-size = 4
show_source = True
statistics = True
count = True
pep585-activation = always

per-file-ignores =
    release/*: E501, W505, F722

ignore =
    B008
    D10
    D204
    D401
    E126
    E203
    I001
    I005
    W503

require-plugins =
    flake8-black
    flake8-bugbear
    flake8-isort
    flake8-pep585
