autoflake==2.3.1
build==1.2.2.post1
setuptools==78.1.1
fastapi-code-generator==0.5.2
flake8==7.3.0
flake8-black==0.3.6
flake8-bugbear==24.12.12
flake8-isort==6.1.1
flake8-pep585==0.1.7
docformatter==1.7.5
black==24.10.0
