pydoc-markdown==4.8.2
docspec==2.2.1
docspec-python==2.2.1
typer
docstring_parser
jinja2
mdformat-gfm==0.3.6
mdformat-footnote==0.1.1
mdformat-black==0.1.1
mdformat-tables==0.4.1
mdformat_deflist==0.1.2
